.settingsContainer {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    .userName {
        padding: 20px;
        text-align: center;
        font-size: 18px;
        text-transform: capitalize;
      }
      .loader{
        justify-content: center;
        width: 100%;
      }
}
