.mainContainer {
	display: flex;
  background-color: #F8F8FB;
	flex: 1 1 0%;
	justify-content: center;
}

@media (max-width: 700px) {
	.mainContainer {
		flex-direction: column;
	}
}

.appContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}