.mainSectionContainer {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.profileInfoContainer {
		min-height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.userName {
			display: flex;
			justify-content: center;
			margin: 20px 0;
		}
		.likePanel {
			margin-top: 20px;
			display: flex;
			.likeElement {
				cursor: pointer;
			}
			.like {
				svg:active{
					path {
						fill: green;
					}
				}
			}
			.dislike {
				svg:active{
					path {
						fill: red;
					}
				}
			}
		}
	}	
	
	.galleryContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20vh;
		.carousel-root {
			max-height: 100px;
		}
	}
}
