.joinPageContainer {
    height: 95vh;
    background-image: url(/imgs/background.png);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    position: fixed;
    top: 4vh;
    right: 4vw;
    z-index: 10;
}