.navContainer {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #373b53;
    padding-top: 35px;
    a {
        margin : 20px;
    }
}