.settingsTextarea {
  textarea {
    color:#03030c;
    flex-grow: 6;
    background-color: rgba(255, 255, 255, 0.842);
    border-color: rgb(255, 0, 179);
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
  }       
}

.userName {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}